@import '@fortawesome/fontawesome-free/css/all.css';
@import '~bulma';
@import 'bulma-timeline/dist/css/bulma-timeline.min.css';
@import '~@creativebulma/bulma-tooltip';
html,
body {
  height: 100%;
  background-color: #fafafa;
}

.contact-tile {
  color: $grey-dark;
  &:hover {
    color: $blue;
  }
}

.uppercase {
  text-transform: uppercase;
}

// .custom-color {
//   background-color: red !important;
// }
